@import "../node_modules/sass-true/sass/_true";
@import "../lib/generate-complementary";

@include test-module('generate-complementary') {

  // Testing Functions
  @include test('Generate 10 colors from 1 input') {
    $seed: #ff40d0;

    $test: generate-complementary($seed);
    @include assert-equal(length($test), 10,
      'Returns a map with 10 color values');
  }
  
  
  
  
  @include test('Generate mono colors and complementary colors') {
    $seed: #ff40d0;

    $test: generate-complementary($seed);
    $expect: ("$primary", "$primary--lighter", "$primary--lightest", "$primary--darker", "$primary--darkest", "$complementary", "$complementary--lighter", "$complementary--lightest", "$complementary--darker", "$complementary--darkest");
    @include assert-equal(map-keys($test), $expect,
      'Returns both $primary and $complementary colors');
  }
  
  
  
  
  @include test('The $complementary color should be the complement of the seed') {
    $seed: #ff40d0;

    $test: generate-complementary($seed);
    $expect: complement(map-get($test, '$primary'));
    @include assert-equal(map-get($test, '$complementary'), $expect,
      'Returns $complementary colors that are complementary to the $primary');
  }
  
}