@import "../generator";
@import "demo-settings";

$seed-color: #FFA000;
$colorscheme: generate($demo-settings...);


h1 {
    background: $primary;
    color: $primary--lighter;
    font: $primary--lightest;
    color3: $primary--darker;
    color4: $primary--darkest;
}